.page>.header-container>.pr-header__rw {
    height: 100px;
    width: 100%;
    background: green;
    border: 1px solid black;
}
#highlighted,
.region.search,
#main-content,
#footer,
.footer-bottom-container {
  display: none;
}